@import "./trun_vars.scss";


body {
  background: $trun-dark;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: $font-color;
}
a {
  text-decoration: none;
}
.clickable {
  cursor: pointer;
}
.text-light { 
  color: $trun-light !important;
}
.text-dark { 
  color: $trun-dark;
}
.px-2 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.pt-2 {
  padding-top: 10px !important;
}
.button { 
  padding: 10px 15px;
  border: solid 1px white;
  display: inline-block;
  margin: 3px;
  cursor: pointer;
  transition: all ease .25s;
  &.blue {
    color: $trun-blue;
    border-color: $trun-blue;
    &:hover {
      color: lighten($trun-blue, 5%);
      border-color: lighten($trun-blue, 5%);
    } 
  }

  &.orange {
    color: $trun-orange;
    border-color: $trun-orange;
    &:hover {
      color: lighten($trun-orange, 5%);
      border-color: lighten($trun-orange, 5%);
    }
  }

  &:hover {
    background-color: rgba(0,0,0,0.7);     
    box-shadow: 1px 1px 4px 0px lighten($trun-dark, 30%);
  }
}
